 h1 {
     text-align: center;

 }

 p {
     text-align: center;
     font-size: 1.2em;
     color: white;
 }

 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 20px;
     background-color: #302f2f;
 }

 img {
     max-width: 300px;
     border-radius: 10px;
     margin: 0 20px;
 }

 .cat-images {
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 960px;
     margin: 0 auto;
 }