 body {
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     margin: 2em;
     line-height: 1.5;
     font-size: 1.2rem;
     background-color: #302f2f;
     color: rgb(255, 255, 255);

 }

 ul {
     text-align: center;
 }

 a {
     color: #ffffff;
     text-decoration: none;
     text-align: center;
 }


 main {
     max-width: 60rem;
     margin-inline: auto;
     text-align: center;
     padding: 1em;

     img {
         display: inline-block;
         margin: 20px auto;
         max-width: 300px;
         border-radius: 10px;
     }
 }

 .cat-images {
     display: flex;
     justify-content: center;
     /* Center horizontally */
     align-items: center;
     max-width: 960px;
     margin: 0 auto;
 }